        .admin-panel {
            display: none;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            width: 600px;
            text-align: center;
        }
        .admin-panel.active {
            display: block;
        }
        .admin-panel h3 {
            margin-bottom: 10px;
        }
        .admin-panel form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            width: 95%;
            margin: 0 auto;
        }
        .admin-panel label {
            font-weight: bold;
            display: inline-block;
            width: 20%;
            text-align: right;
            margin-right: 10px;
        }
        .admin-panel .form-group {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }
        .admin-panel input,
        .admin-panel select,
        .admin-panel textarea {
            padding: 5px;
            font-size: 14px;
            width: 80%;
        }
        .admin-panel textarea {
            height: 40px;
        }
        .admin-panel button {
            padding: 5px;
            background-color: #e76d0a;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100px;
            margin: 10px auto;
        }
        .admin-panel button:hover {
            background-color: #d65f00;
        }
        .message {
            text-align: center;
            margin: 10px 0;
        }

        /* Responsive */

@media (max-width: 599px) {

        /* Admin panel */
    .admin-panel {
        width: 90%;
    }

    .admin-panel label {
        width: 100%;
        text-align: left;
        margin-right: 0;
    }

    .admin-panel input,
    .admin-panel select,
    .admin-panel textarea {
        width: 100%;
    }

    .admin-panel textarea {
        width: 100%;
    }
}